<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Le polar ancr&eacute; dans un univers SF !</h2>
                <hr class="light">
                <p class="text-faded">D&eacute;couvrez M&eacute;troheim, un paradis hightech &agrave; prix non n&eacute;gociable au sommet des tours les plus modernes, et &eacute;pargnez vos cr&eacute;dits si vous ne voulez pas finir dans les bas-&eacute;tages, d&eacute;coup&eacute; en petits morceaux par les malfrats locaux ou d&eacute;vor&eacute; par des mutants affam&eacute;s.</p>
            </div>
        </div>
    </div>
</section>
