<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">&Agrave; lire</h2>
                <hr class="primary">
                <p>Retrouvez les nouvelles <bold>gratuites</bold> de Mika-L sur :</p>
                <a href="https://www.scribay.com/author/1274647215/mika-l">
                    <i class="fa fa-pencil fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>Scribay</p>
                </a>
            </div>
        </div>
    </div>
</section>
