<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>M&Eacute;TROHEIM, de MIKA L</h1>
            <hr/>
            <p>Sam grogne. Il enqu&ecirc;te en solo sur les meurtres que la Police Priv&eacute;e d&eacute;laisse, faute d'int&eacute;r&ecirc;t p&eacute;cunier. Des affaires de jalousie, de vengeance et d'ambition insatiable  qui am&egrave;nent Sam &agrave; l'or&eacute;e des pires faiblesses humaines. En persistant sur ce chemin, il s'expose &agrave; ses propres ranc&oelig;urs, ses d&eacute;fauts, ses plaisirs coupables... alors lorsque le pass&eacute; frappe &agrave; sa porte, pas &eacute;tonnant qu'il se mette &agrave; h&eacute;siter. Ne soyez pas trop s&eacute;v&egrave;re avec lui, notre homme se montre parfois susceptible. Parfois.</p>
            <p>Rappelez-vous que Sam grogne. Il grogne et il grognera pour vous.</p>
        </div>
    </div>
</header>
